body{
	background-color: rgb(230,230,230);
	color: rgb(30,40,50);
	font-family: courier;
}

h1{
	color: blue;
	font-family: courier;
	font-size: 32px;
	text-align: center;

}
#image-circle{
  border-radius: 50%;
  border: 10px rgb(230,230,230);
  width: 100px;
}

.text-blue{
	color: blue;
	text-align: center;
}
.text-grey{
	color: grey;
	text-align: center;
}
	.text-green{
	color: green;
	text-align: center;
}
	.text-yellow{
	color: yellow;
	text-align: center;
}
h2{
	color: rgb(200,100,150);
	font-family: courier;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
	
}
	a{
	text-decoraion: none;
	color: red;
	text-align: center;
}
a:hover{
	color: blue;
}

div{
	background: white;                         
    padding: 30px;                             
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);    
    width: 600px;
    margin: 4px auto;
}
@media (max-width: 660px){
	.container: 430px;
}
}
